.signup{
    background: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    /* height: 100vh; */
    background-position: center;
    object-fit: contain;
    background-size: cover;
}